# Test

In [1]:
import tasks as tsk
import numpy as np
import pandas as pd
from tourist import Tourist

In [2]:
t0 = ("barco", 39.568276, 2.637640, 0, tsk.cruise_utility)
t1 = ("catedral", 39.567425, 2.648299, 0.9, tsk.low_penalty)
t2 = ("castell", 39.563814,	2.619354, 0.9, tsk.low_penalty)
t3 = ("almudaina", 39.567886, 2.647022, 0.6, tsk.standard_penalty)
t4 = ("tren de soller", 39.576665, 2.653782, 0.5, tsk.high_penalty)
t5 = ("Plaza mayor", 39.571371, 2.651813, 0.35, tsk.standard_penalty)

tasks_ls = [t0, t1, t2, t3, t4, t5]
tasks = pd\
    .DataFrame(data=np.array(tasks_ls,
                             dtype=[("place", np.object),
                                    ("latitude", np.float64),
                                    ("longitude", np.float64),
                                    ("utility", np.float64),
                                    ("update_utility", np.object)]))

In [3]:
tasks

,place,latitude,longitude,utility,update_utility
0,barco,39.568276,2.637640,0.00,<function cruise_utility at 0x7f42a25de550>
1,catedral,39.567425,2.648299,0.90,<function low_penalty at 0x7f42a25de430>
2,castell,39.563814,2.619354,0.90,<function low_penalty at 0x7f42a25de430>
3,almudaina,39.567886,2.647022,0.60,<function standard_penalty at 0x7f42e8266790>
4,tren de soller,39.576665,2.653782,0.50,<function high_penalty at 0x7f42a25de4c0>
5,Plaza mayor,39.571371,2.651813,0.35,<function standard_penalty at 0x7f42e8266790>

In [4]:
touristt = Tourist(tasks, 20)

In [5]:
touristt.tourist_route()

time: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [6]:
touristt.task_route

[0, 1, 1, 4, 5, 3, 1, 2, 2, 2, 3, 1, 3, 1, 0, 0, 1, 5, 5, 0, 2]

In [7]:
tasks.place[touristt.task_route].tolist()

['barco',
 'catedral',
 'catedral',
 'tren de soller',
 'Plaza mayor',
 'almudaina',
 'catedral',
 'castell',
 'castell',
 'castell',
 'almudaina',
 'catedral',
 'almudaina',
 'catedral',
 'barco',
 'barco',
 'catedral',
 'Plaza mayor',
 'Plaza mayor',
 'barco',
 'castell']

In [8]:
df = touristt.task_list[0].loc[:, ["utility"]]
for i in range(1, 20):
    df.loc[:, f"utility{i}"] = touristt.task_list[i].loc[:, ["utility"]].values
df["tasks"] = tasks.place.tolist()
df.set_index("tasks")

,utility,utility1,utility2,utility3,utility4,utility5,utility6,utility7,utility8,utility9,utility10,utility11,utility12,utility13,utility14,utility15,utility16,utility17,utility18,utility19
tasks,,,,,,,,,,,,,,,,,,,,
barco,0.00,0.00,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0750,0.1125,0.11250,0.112500,0.112500,0.112500,0.112500,0.112500,0.112500,0.112500,0.112500
catedral,0.90,0.45,0.225,0.2250,0.2250,0.2250,0.1125,0.1125,0.1125,0.1125,0.1125,0.05625,0.056250,0.028125,0.028125,0.028125,0.014063,0.014063,0.014063,0.014063
castell,0.90,0.90,0.900,0.9000,0.9000,0.9000,0.9000,0.4500,0.2250,0.1125,0.1125,0.11250,0.112500,0.112500,0.112500,0.112500,0.112500,0.112500,0.112500,0.112500
almudaina,0.60,0.60,0.600,0.6000,0.6000,0.1500,0.1500,0.1500,0.1500,0.1500,0.0375,0.03750,0.009375,0.009375,0.009375,0.009375,0.009375,0.009375,0.009375,0.009375
tren de soller,0.50,0.50,0.500,0.0625,0.0625,0.0625,0.0625,0.0625,0.0625,0.0625,0.0625,0.06250,0.062500,0.062500,0.062500,0.062500,0.062500,0.062500,0.062500,0.062500
Plaza mayor,0.35,0.35,0.350,0.3500,0.0875,0.0875,0.0875,0.0875,0.0875,0.0875,0.0875,0.08750,0.087500,0.087500,0.087500,0.087500,0.087500,0.021875,0.005469,0.005469

Normas:
+ A partir de tiempo 10, si vamos al barco, no salir.
+